!Enter initial conditions in the form
!call IC(...)
!
!insert_vortex_line(xloc,yloc,zloc,circ,rot,amp1,amp2,kk,ll,k3,dtheta)
!xloc, yloc, zloc -> location in space
!circ -> +1 or -1 quantum of circulation
!rot -> 0,1 or 2 orientation of vortex line
!amp1,amp2 -> Amplitude of disturbances
!kk,ll -> wavenumber of disturbances
!k3 -> distance from origin disturbance applies
!dtheta -> internal phase twist per pixel
!
!
!
!insert_vortex_ring(x0,y0,z0,r0,dir,rot)
!x0, y0, z0 -> location in space
!r0 -> ring radius
!dir -> +1 or -1 quantum of circulation
!rot -> 0,1 or 2 orientation of ring


call insert_vortex_line(0.0d0,0.0d0,0.0d0,1,0,1.0d0,1.0d0,5.0d0,5.0d0,5.0d0,0.0d0*PI/(NZ*DSPACE))
	
